<a href="https://colab.research.google.com/github/mariapaulasag/Learning-Pyhton-Basics/blob/main/pythonDatetime_and_Date_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions vs Lambda

1. Create a user defined function 
* add 2 arguments
* square an argument
2. write a function using lambda
* add 2 arguments
* square an argument
3. upload and read the stocks file
4. import pandas and python
5. create a new column in stock utilizing the user defined function, lambda and numpy for the below logic:

* if stock price is below 100 == low
* if stock price is below 200 == med
* if stock price is above 200 == high

statements 
for functions we have to define them and in lambda we dont have to.

in summary in today's class we cover function vs lamba
* 3 different ways to create a function
1. using np or pandas
2. using define fucntion def
3. using lambda function.

* date types.
exact month of dates 
convert a string into date format

# Import pandas an numpy

In [ ]:
import pandas as pd
import numpy as np

# 1. Create a user defined function 

* add 2 arguments. we create a function. add (x,y)
* (we put the arguments below in add and the values ​​in parentheses.)
* square an argument 

* manual way

In [ ]:
def add(x,y):
  return x + y;

In [ ]:
add (3.4,5)

8.4

In [ ]:
add('John','Smith')

'JohnSmith'

# square an argument

In [ ]:
def sqr (x):
  return x**2;

In [ ]:
sqr(4)

16

However, let's say there, there might be situations where you cannot define your own functions it's difficult it's you don't want it no you don't want to define your function, then in that situation, what we are going to do we're going to use Lambda.

#2. write a function using lambda
* add 2 arguments. /// Solo se crea un argumento con el return. 
* square an argument

In [ ]:
add = lambda x,y : x+y

In [ ]:
add(2,4)

6

* square an argument

In [ ]:
sqrl = lambda x : x**2

In [ ]:
sqrl(5)

25

# 3. Upload and read the stocks file

* reading file stocks

In [ ]:
stocks = pd.read_csv('stock.csv')

In [ ]:
stocks

    Stock Price
0         50.12
1         54.10
2         54.65
3        102.88
4        105.32
5        102.08
6        214.86
7        212.09
8        214.66
9        212.95
10       215.80
11       215.25

#4. import pandas and python

In [ ]:
import pandas as pd
import numpy as np

# 5. create a new column in stock utilizing the user defined function, lambda and numpy for the below logic:

1 way different  to define the function
* user defined function, lambda and numpy
1. the first is user definable.

Using Numpy

we use where cuando we put it in a situation.

* we put library in this case numpy (np) then . where (name of df) name of column. we describe the situation.

* * if stock price is below 100 == low
* if stock price is below 200 == med
* if stock price is above 200 == high

definitions in arrays

In [ ]:
np.where(stocks['Stock Price']<100, 'Low',
         np.where(stocks['Stock Price']<200, 'Med', 'High'))

array(['Low', 'Low', 'Low', 'Med', 'Med', 'Med', 'High', 'High', 'High',
       'High', 'High', 'High'], dtype='<U4')

convertion in columns

In [ ]:
stocks['where'] = np.where(stocks['Stock Price']<100, 'Low',
         np.where(stocks['Stock Price']<200, 'Med', 'High'))

creation of the column,if it is less than 100 place 100, if it is less than 200 place medium and for everything else high

In [ ]:
stocks['where']

0      Low
1      Low
2      Low
3      Med
4      Med
5      Med
6     High
7     High
8     High
9     High
10    High
11    High
Name: where, dtype: object

In [ ]:
stocks

    Stock Price where
0         50.12   Low
1         54.10   Low
2         54.65   Low
3        102.88   Med
4        105.32   Med
5        102.08   Med
6        214.86  High
7        212.09  High
8        214.66  High
9        212.95  High
10       215.80  High
11       215.25  High

2. way using define 
* user defined
* We start with define.
* define fun as the name of the variable


if p is less than 100, return Low if it is.....

elif means otherwise means another statement.

In [ ]:
def fun(p):
  if p<100:
    return 'LOW'
  elif p <200:
      return 'MED'
  else:
        return 'HIGH'

go into de data frame and loc them and applay it on every row of the function 

* means otherwise means another statement.

* en every row means these [:,

In [ ]:
stocks['fun'] = stocks.loc[:,'Stock Price'].apply(fun)

In [ ]:
stocks

    Stock Price where   fun
0         50.12   Low   LOW
1         54.10   Low   LOW
2         54.65   Low   LOW
3        102.88   Med   MED
4        105.32   Med   MED
5        102.08   Med   MED
6        214.86  High  HIGH
7        212.09  High  HIGH
8        214.66  High  HIGH
9        212.95  High  HIGH
10       215.80  High  HIGH
11       215.25  High  HIGH

3. way USING lambda

In [ ]:
stocks['lambda'] = stocks['Stock Price'].apply(lambda x : 'low' if x <100 else ('med' if x <200 else 'high'))

In [ ]:
stocks

    Stock Price where   fun lambda
0         50.12   Low   LOW    low
1         54.10   Low   LOW    low
2         54.65   Low   LOW    low
3        102.88   Med   MED    med
4        105.32   Med   MED    med
5        102.08   Med   MED    med
6        214.86  High  HIGH   high
7        212.09  High  HIGH   high
8        214.66  High  HIGH   high
9        212.95  High  HIGH   high
10       215.80  High  HIGH   high
11       215.25  High  HIGH   high

# Dates in Python

1. import the datetime library as dt
2. print todays date in python
3. save a date in a variable and print it
* extract the month and day from the date variable
4. save a time as time format
* extract the hour and min from the time
5. how to convert a string into a date format

# 1. import the datetime library as dt

In [ ]:
import datetime as dt

# 2. print todays date in python

In [ ]:
dt.date.today()

datetime.date(2021, 12, 10)

In [ ]:
date =2021-12-7

In [ ]:
type(date)

int

# 3. save a date in a variable and print it
* extract the month and day from the date variable

In [ ]:
date ='2021-12-7'

In [ ]:
type(date)

str

In [ ]:
date1 = dt.date(2021,12,21)

In [ ]:
type(date1)

datetime.date

* extract the month and day from the date variable

name of data frame and then day to know the day.
. month to know the month 
.

In [ ]:
date1.day

21

In [ ]:
date1.month

12

In [ ]:
date1.year

2021

# 4. save a time as time format
* extract the hour and min from the time

In [ ]:
t = dt.time(21,30)

In [ ]:
t

datetime.time(21, 30)

In [ ]:
print(t)

21:30:00

* extract the hour and min from the time

In [ ]:
t.hour

21

In [ ]:
t.minute

30

# 5. how to convert a string into a date format

you have to manipulate the data in so many different stages to convert the format and here it's much easier and let's do that.

In [ ]:
date_string = '2021-12-7'

In [ ]:
type(date_string)

str

the dateutil.parser function changes any format to date time

In [ ]:
from dateutil.parser import parse

In [ ]:
parse(date_string)

datetime.datetime(2021, 12, 7, 0, 0)